a:link {
    text-decoration: none;
    color: black;
    
}

.searchBox {
    margin-top: 10px;
}

.collapsibleStyle {
    margin-right: 10%;
    margin-left: 10%;
}

.note {
    margin-right: 10%;
    margin-left: 10%;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.mapTitle {
    text-align: center;
}

.mapSearch {
    text-align: center;
}

.excludedIngredints {
    display: inline;
    text-align: center;
}

#excludedList {
    display: inline;
}

.advancedFilters {
    border: solid;
    margin-left: 5%;
    margin-right: 5%;
}

.addTo {
    margin-left: 2%;
    text-align: left;
}

.healthLabels {
    margin-left: 1%;
}

.diet {
    margin-left: 1%;
}

#excludedListTitle {
    font-size: 20px;
    margin-top: -10%;
    margin-bottom: 50px;
}

#advancedPageTitle {
    text-align: center;
    font-size: 25px;
}

.excludedListing {
    margin-top: -5%;
}

