a:link {
    text-decoration: none;
    color: black;
    
}

.fullrow {
    min-height: 100vh;
}

.searchBox {
    margin-top: 10px;
}

.collapsibleStyle {
    margin-right: 10%;
    margin-left: 10%;
}

.note {
    margin-right: 10%;
    margin-left: 10%;   
}

#note {
    text-align: center;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mapTitle {
    text-align: center;
}

.mapSearch {
    text-align: center;
}

.excludedIngredints {
    display: inline;
    text-align: center;
}

#excludedList {
    display: inline;
}

.advancedFilters {
    border: solid;
    margin-left: 5%;
    margin-right: 5%;
}

.addTo {
    margin-left: 2%;
    text-align: left;
}

.healthLabels {
    margin-left: 1%;
}

.diet {
    margin-left: 1%;
}

#excludedListTitle {
    font-size: 20px;
    margin-top: -10%;
    margin-bottom: 50px;
}

#advancedPageTitle {
    text-align: center;
    font-size: 25px;
}

.excludedListing {
    margin-top: -5%;
}

.hero {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("pexels-lukas-349610.jpg");
  
    /* Set a specific height */
    height: 900px;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    margin-bottom: -50px;
    background-color: white;
    
}

#searchStyle {
    border-radius: 5px;
}

#resultStyle {
    border-radius: 5px;
}

#indexTitle {
    text-align: center;
    font-size: 35px;
}

.whiteBackground {
    background-color: white;
}

.test {
    margin-right: 10%;
    margin-left: 10%;
}